<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../build/css/normalize.css">
    <link rel="stylesheet" href="../build/css/main.css">
    <title>Personajes</title>
</head>
<body>
    <div class="container-personajes">
        <header class="personajes-header">
            <div class="header-logo">
              <a href="../index.html"><img class="logo" src="/build/assets/imgs/svg/luffyV.svg" alt="logo"></a>
                <h1>Personajes</h1>
                <span id="dark-mode" class="dark-icon"><img id="dark-btn" class="dark-img" src="../build/assets/imgs/svg/dark-mode.svg" alt=""></span>
            </div>
            <button id="abrir-menu" class="abrir-menu">&#9776;</button>
            <nav id="nav" class="nav">
              <button id="cerrar-menu" class="cerrar-menu">✕</button>
              <ul class="nav-list">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="https://inmanga.com/ver/manga/One-Piece/dfc7ecb5-e9b3-4aa5-a61b-a498993cd935">Manga</a></li>
                <li><a href="https://www3.animeflv.net/anime/one-piece-tv">Anime</a></li>
                <li><a href="formulario.html">Contacto</a></li>
              </ul>
            </nav>
          </header>
        <div class="boxesContainer">
            <div class="cardBox">
              <div class="card luffy">
                <div class="front">
                </div>
                <div class="back">
                    <img class="personaje-logo" src="../build/assets/imgs/logos/luffy.png" alt="">
                  <p>Monkey D. Luffy es el capitán de los Piratas de Sombrero de Paja. Su sueño es convertirse en el Rey de los Piratas y encontrar el legendario tesoro conocido como el One Piece.</p>
                  <!-- hacer una especie de footer para la tarjeta, añadir una linea horizontal -->
                  <hr>
                  <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Monkey_D._Luffy?so=search" target="_blank">Mas Info</a></div>
                </div>
              </div>
            </div>
            <div class="cardBox">
              <div class="card zoro">
                <div class="front">
                </div>
                <div class="back">
                    <img class="personaje-logo" src="../build/assets/imgs/logos/zoro.png" alt="">
                  <p>Roronoa Zoro es el espadachin de los Piratas del Sombrero de Paja. Es el segundo miembro de la tripulación y el primero en unirse.</p>
                  <hr>
                  <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Roronoa_Zoro?so=search" target="_blank">Mas Info</a></div>
                </div>
              </div>
            </div>
            <div class="cardBox">
              <div class="card nami">
                <div class="front">
                </div>
                <div class="back">
                    <img class="personaje-logo" src="../build/assets/imgs/logos/nami.png" alt="">
                  <p>Nami es la navegante de los Piratas del Sombrero de Paja. Es el tercer miembro de la tripulación y la segunda en unirse.</p>
                  <hr>
                  <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Nami?so=search" target="_blank">Mas Info</a></div>
                </div>
              </div>
            </div>
            <div class="cardBox">
              <div class="card sanji">
                <div class="front">
                </div>
                <div class="back">
                    <img class="personaje-logo" src="../build/assets/imgs/logos/sanji.png" alt="">
                  <p>Sanji es el cocinero de los Piratas de Sombrero de Paja, es el quinto miembro de la tripulación, y el cuarto en unirse.</p>
                  <hr>
                  <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Sanji?so=search" target="_blank">Mas Info</a></div>
                </div>
              </div>
            </div>
            <div class="cardBox">
                <div class="card brook">
                  <div class="front">
                  </div>
                  <div class="back">
                      <img class="personaje-logo" src="../build/assets/imgs/logos/brook.png" alt="">
                    <p>Brook es el músico de los Piratas de Sombrero de Paja. Es el noveno miembro de la tripulación y el octavo en unirse.</p>
                    <hr>
                    <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Brook?so=search" target="_blank">Mas Info</a></div>
                  </div>
                </div>
              </div>
            <div class="cardBox">
              <div class="card usopp">
                <div class="front">
                </div>
                <div class="back">
                    <img class="personaje-logo" src="../build/assets/imgs/logos/usopp.png" alt="">
                  <p>Usopp es el francotirador de los Piratas de Sombrero de Paja. Es el cuarto miembro de la tripulación y el tercero en unirse oficialmente. </p>
                  <hr>
                  <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Usopp?so=search" target="_blank">Mas Info</a></div>
                </div>
              </div>
            </div>
            <div class="cardBox">
              <div class="card chopper">
                <div class="front">
                </div>
                <div class="back">
                    <img class="personaje-logo" src="../build/assets/imgs/logos/chopper.png" alt="">
                  <p>Tony Tony Chopper es el médico de los Piratas de Sombrero de Paja. Es el sexto miembro de la tripulación y el quinto en unirse a ella.</p>
                  <hr>
                  <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Tony_Tony_Chopper?so=search" target="_blank">Mas Info</a></div>
                </div>
              </div>
            </div>
            <div class="cardBox">
                <div class="card robin">
                  <div class="front">
                  </div>
                  <div class="back">
                      <img class="personaje-logo" src="../build/assets/imgs/logos/robin.png" alt="">
                    <p>Nico Robin es la arqueóloga de los Piratas de Sombrero de Paja. Es el séptimo miembro de la tripulación y el sexto en unirse.</p>
                    <hr>
                    <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Nico_Robin?so=search" target="_blank">Mas Info</a></div>
                  </div>
                </div>
              </div>
              <div class="cardBox">
                <div class="card franky">
                  <div class="front">
                  </div>
                  <div class="back">
                      <img class="personaje-logo" src="../build/assets/imgs/logos/franky.png" alt="">
                    <p>Franky es el carpintero naval de los Piratas de Sombrero de Paja. Es el octavo miembro de la tripulación y el séptimo en unirse.</p>
                    <hr>
                    <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Franky?so=search" target="_blank">Mas Info</a></div>
                  </div>
                </div>
              </div>
          </div>
          <footer>
            <div class="footer-container">
                <div class="footer-body">
                  <div class="footer-sections">
                    <div class="footer-servicios">
                      <h3>Servicios</h3>
                      <ul>
                        <li><a href="./templates/personajes.html">Personajes</a></li>
                        <li><a href="https://inmanga.com/ver/manga/One-Piece/dfc7ecb5-e9b3-4aa5-a61b-a498993cd935">Manga</a></li>
                        <li><a href="https://www3.animeflv.net/anime/one-piece-tv">Anime</a></li>
                      </ul>
                    </div>
                    <div class="footer-about">
                      <h3>Sobre Nosotros</h3>
                      <ul>
                        <li><a href="formulario.html">Contacto</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Terminos y Condiciones</a></li>
                      </ul>
                    </div>
                    <div class="footer-company">
                      <h3>Nuestra Compañia</h3>
                      <p>
                        Lo que comenzó como un pequeño proyecto web y un grupo de amigos, se convirtió en una de las mejores páginas de anime y manga en el mundo.
                      </p>
                    </div>
                  </div>
                  <div class="footer-author">
                    <div class="social">
                      <a href="https://www.facebook.com/onepieceofficial/?locale=es_ES" target="_blank"><img src="../build/assets/imgs/social/facebook.png" alt="facebook"></a>
                      <a href="https://www.instagram.com/onepiece_staff/?hl=es" target="_blank"><img src="../build/assets/imgs/social/instagram.png" alt="instagram"></a>
                      <a href="https://twitter.com/OnePieceAnime" target="_blank"><img src="../build/assets/imgs/social/x.png" alt="X"></a>
                      <a href="https://www.youtube.com/@onepieceofficial/featured" target="_blank"><img src="../build/assets/imgs/social/youtube.png" alt="youtube"></a>
                    </div>
                    <div class="author">
                      <p>One Piece &copy; <img src="../build/assets/imgs/svg/luffyV.svg" alt=""> 1997 by Eiichiro Oda</p>
                      <p>Álvaro Fonseca Hernández</p>
                    </div>
                  </div>
              </div>
            </div>
        </footer> 
    </div>
    <script src="../src/js/hamburguer.js"></script>
    <script src="../src/js/dark-mode.js"></script>
</body>
</html>